In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import glob
import os

In [2]:
server = 'DESKTOP-HOTS4AV'
database = 'CRM_Data'
driver = 'SQL Server Native Client 11.0'
connection = f'mssql://@{server}/{database}?driver={driver}'

engine = create_engine(connection)
conn = engine.connect()

In [3]:
files_csv = glob.glob("*.csv")
files_csv

['crm_data (0).csv',
 'crm_data (1).csv',
 'crm_data (10).csv',
 'crm_data (11).csv',
 'crm_data (12).csv',
 'crm_data (13).csv',
 'crm_data (14).csv',
 'crm_data (15).csv',
 'crm_data (16).csv',
 'crm_data (17).csv',
 'crm_data (18).csv',
 'crm_data (19).csv',
 'crm_data (2).csv',
 'crm_data (20).csv',
 'crm_data (21).csv',
 'crm_data (22).csv',
 'crm_data (23).csv',
 'crm_data (24).csv',
 'crm_data (25).csv',
 'crm_data (26).csv',
 'crm_data (27).csv',
 'crm_data (28).csv',
 'crm_data (29).csv',
 'crm_data (3).csv',
 'crm_data (30).csv',
 'crm_data (31).csv',
 'crm_data (32).csv',
 'crm_data (33).csv',
 'crm_data (34).csv',
 'crm_data (35).csv',
 'crm_data (36).csv',
 'crm_data (37).csv',
 'crm_data (38).csv',
 'crm_data (39).csv',
 'crm_data (4).csv',
 'crm_data (40).csv',
 'crm_data (41).csv',
 'crm_data (42).csv',
 'crm_data (43).csv',
 'crm_data (44).csv',
 'crm_data (45).csv',
 'crm_data (46).csv',
 'crm_data (5).csv',
 'crm_data (6).csv',
 'crm_data (7).csv',
 'crm_data (8).csv',
 'crm_data (9).csv',
 'crm_data_1.csv',
 'crm_data_2.csv',
 'crm_data_3.csv']

In [4]:
df = pd.DataFrame()

In [5]:
for f in files_csv:
    data = pd.read_csv(f, sep=',', encoding='latin-1', low_memory=False)
    df   = df.append(data)

In [6]:
df.rename(columns={'CRM Update/Dialing Date Time':'CRM Update'}, inplace=True)
df['Phone'] = df['Phone'].astype(str)
df['Phone'] = df['Phone'].str.replace(" ()","")
df['Phone'] = df['Phone'].str.slice(2,11)
df['Phone'] = df['Phone'].astype(int)
df.columns = df.columns.str.replace(' ', '')
df['Postcode'].replace('6163javasc', 6163, inplace=True)

In [7]:
df['Postcode'] = df["Postcode"].str.replace(' ', '')

In [8]:
df["Agent"]= df["Agent"].str.replace('user', "User ", case= False)
df.rename(columns={'Agent':'UserID'}, inplace=True)

In [9]:
n = []
for i in df['UserID']:
    if i == 'User 1':
        n.append('Anisha Yadav')
    elif i== 'User 2':
        n.append('Daniel Lalchhanthuanga')
    elif i== 'User 3':
        n.append('Yawar Mallick')
    elif i== 'User 4':
        n.append('Free')
    elif i== 'User 5':
        n.append('Free')
    elif i== 'User 6':
        n.append('Free')
    elif i== 'User 7':
        n.append('Free')
    elif i== 'User 8':
        n.append('Shivani Tripathy')
    elif i== 'User 9':
        n.append('Sonia Satyan')
    elif i== 'User 10':
        n.append('Sharon')
    elif i== 'User 11':
        n.append('Akershit Mahajan')
    elif i== 'User 12':
        n.append('Shivani Godala')
    elif i== 'User 13':
        n.append('Mercer')
    elif i== 'User 14':
        n.append('Clinton')
    elif i== 'User 15':
        n.append('Ankit Kashyap')
    elif i== 'User 16':
        n.append('Free')
    elif i== 'User 17':
        n.append('Free')
    elif i== 'User 18':
        n.append('Free')
    elif i== 'User 19':
        n.append('Saurabh Nautiyal')
    elif i== 'User 20':
        n.append('Himanshu Sakhla')
    elif i== 'User 21':
        n.append('Harpreet')
    else:
        n.append('')
        
df['AgentName'] = n

In [10]:
df['CRMUpdate'] = pd.to_datetime(df['CRMUpdate'])

In [11]:
df.columns

Index(['Campaign', 'UserID', 'CRMUpdate', 'Lead', 'DialerDisposition',
       'DialerAttempt', 'AgentDisposition', 'AgentSubDisposition',
       'CRMAttempt', 'Phone', 'Title', 'FirstName', 'LastName', 'Address',
       'City', 'State', 'Postcode', 'AgentName'],
      dtype='object')

In [12]:
df= df[['Campaign', 'UserID','AgentName','CRMUpdate', 'Lead', 'DialerDisposition','DialerAttempt', 'AgentDisposition', 'AgentSubDisposition',
       'CRMAttempt', 'Phone', 'Title', 'FirstName', 'LastName', 'Address','City', 'State', 'Postcode']]

In [13]:
df.head()

,Campaign,UserID,AgentName,CRMUpdate,Lead,DialerDisposition,DialerAttempt,AgentDisposition,AgentSubDisposition,CRMAttempt,Phone,Title,FirstName,LastName,Address,City,State,Postcode
0,MSMEDIAAUS,NaN,,2020-01-21 12:09:59,WA_Landline_5k_,RINGING - NO ANSWER,5,NaN,NaN,0,861038289,NaN,H,Oliver,52 Johnson Pl,Wattle Grove,WA,6107
1,MSMEDIAAUS,NaN,,2020-01-21 12:10:15,WA_Landline_5k_,RINGING - NO ANSWER,5,NaN,NaN,0,861500064,NaN,J,Lustono,11 Corona Crs,Cannington,WA,6107
2,MSMEDIAAUS,NaN,,2020-01-21 12:10:15,WA_Landline_5k_,RINGING - NO ANSWER,5,NaN,NaN,0,861500136,NaN,A N,Mai,50 Russell St,East Cannington,WA,6107
3,MSMEDIAAUS,NaN,,2020-01-21 12:09:26,WA_Landline_5k_,RINGING - NO ANSWER,5,NaN,NaN,0,861500730,NaN,M,Mulla,30 Prince St,Queens Park,WA,6107
4,MSMEDIAAUS,NaN,,2020-01-21 12:10:15,WA_Landline_5k_,RINGING - NO ANSWER,5,NaN,NaN,0,861502619,NaN,T,Mcmahon,5 Mcguiness Turn,Wattle Grove,WA,6107

In [14]:
df.to_sql('CRM_info', engine, if_exists='replace', index=False)

In [15]:
df.shape

(1348160, 18)